{% extends 'base.html' %} {% block title %}User {{user.first_name}}
{{user.last_name}}{% endblock %} {% block content %}
<div class="container">
  <div>
    <img src="{{user.img_url}}" alt="User Profile Image" />
  </div>
  <div>
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <div>
      <a href="/users/{{user.id}}/edit">edit</a>
      <form action="/users/{{user.id}}/delete" method="POST" id="delete">
        <input type="submit" value="Delete" />
      </form>
    </div>
    <h2>Posts</h2>
    <ul>
      {% for post in user.posts %}
      <li>
        <a href="/posts/{{post.id}}">{{post.title}}</a>
      </li>
      {% endfor %}
    </ul>
    <a href="/users/{{user.id}}/posts/new">Add Post</a>
  </div>
</div>
{% endblock %}
